body {
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    display: flex;
}
file {
    border: 1px solid black;
}
input[type="file"] {
    display: none;
    color: aliceblue;
}
.custom-file-upload {
    border: 1px solid ;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
form {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    justify-content: center;
    color: #ccc;
    vertical-align: middle;
    align-items: center;
}
.container {
    justify-content: center;
    display: flex;
    align-items: center;   
}
.success {
    color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48vh;
    font-size: 5rem;
}
@-moz-document url-prefix() {
    .container {
        margin-top:40vh;
    }
}